<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the Earthquake Portal</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explore Earthquakes</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <header>
            <h1>Historical Earthquake Activity</h1>
            <p>Search earthquakes from the past, exploring their magnitude, location, and damage.</p>
            <nav>
                <ul>
                    <li><a href="latest.html">Latest Earthquakes Exploration</a></li>
                    <li><a href="historical.html">Historical Earthquake Activity</a></li>
                    <li><a href="comparison.html">Comparison Tool</a></li>
                </ul>
            </nav>
        </header>

        <!-- Mahsa -->
        <div id="content">
              <div class="row">
                <div class="col-md-2">
                    <div class="well">
                        <nav>
                          <ul>
                              <li><button onclick="capturePage()">Screen Capture</button> </li>
                          </ul>
                      </nav>
                      </div>
                  <div id="map"></div>
                </div>
                <div class="col-md-5">
                  <h5>Country:</h5>
                                <select id="selDataset" onchange="optionChanged(this.value)"></select>
                  <div id="hbar"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div id="bar"></div>
                </div>
              </div>
        </div>

          <!-- Capture page -->
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- Mahsa -->
    
    <script type="text/javascript" src="../static/js/historical.js"></script>

    <footer>
        <p>&copy; 2023 UofT Data Visualization Bootcamp - Explore Earthquakes Project. Group 2 Project 3 All rights reserved.</p>
    </footer>
</body>
</html>
