<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the Earthquake Portal</title>
</head>
<body>
    <div id="content">
        <!-- Content from Jesus -->
        <a href = "latest.html">Latest Earthquakes</a>
        <a href = "historical.html">Historical Earthquakes</a>
        <a href = "comparison.html">Comparison Tool</a>
    </div>

</body>
</html>
